/* LearnCourseCo.module.css */

.learnCourseCoContainer {
    display: flex;
    position: absolute;
    left: 250px;
    background-color: #a3a3f5;
    color: white;
    border-radius: 40px;
    width: 1050px;
    padding-top: 50px;
    height: 500px;
    margin-bottom: 20px;

  }
  
  .learnCourseCoLeftSection img {
    width: 400px;
    position: relative;
    top: 55px;
    border-bottom-left-radius: 40px;
    height: 395px;
  }
  
  .learnCourseCoRightSection {
    padding: 50px;
    margin-left: 115px;

  }
  
  .learnCourseCoRightSection h2 {
    font-size: 44px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .learnCourseCoRightSection p {
    font-size: 17px;
    margin-bottom: 18px;
  }
  
  /* .checkIcons {
    /* display: flex; */
    /* gap: 20px;
  } */ 
  
  .checkIcon {
    display: flex;
    position: relative;
    /* justify-content: center; */
  }

  .checkIcon p {
    font-size: 20px;
  }
  
  .checkCircleIcon {
    margin-right: 10px;
    margin-top: 8px;
  }
  
