PopularCourses.module.css

.popularCoursesContainer {
    padding: 20px;
  }
  
  /* Heading Styles */
  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
/* Add or modify these styles in your PopularCourses.module.css */

.searchBar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 10px;
  }
  
  .searchIcon {
    margin-right: 10px;
    color: #555;
  }
  
  .searchInput {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
  }
  
  .verticalLine {
    width: 1px;
    height: 20px;
    background-color: #ccc;
    margin: 0 10px;
  }
  
  .userIcon {
    margin-right: 10px;
    color: #555;
  }
  
  .userInfo {
    margin-right: 10px;
    color: #555;
  }
  
  .searchText {
    font-size: 14px;
    color: #888;
    margin-right: 10px;
  }
  
  .searchButton {
    background-color: #121314;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .buttonIcon {
    margin-right: 5px;
  }
    
  /* Card Section Styles */
  .cardSection {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    width: 30%;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .card h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
  }
  
  .card p {
    font-size: 14px;
    color: #555;
    margin: 0 10px 10px;
  }
  
  .ratingSection {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
  }
  
  .starIcon {
    color: #ffc107;
    margin-right: 5px;
  }
  
  .ratingSection span {
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
  
  .actionSection {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  /* Button Section Styles */
  .viewAllButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #0f1010;
    border: none;
outline: none;
border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .viewAllButton:hover {
    background-color: #313232;
  }
  