.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;

}

.navbar{
    display: flex;
}

.navbar img{ 
    width: 90px;
    margin-top: 15px;

}

.navbar h1 {
    /* display: inline-block; */
    margin-right: 49px;
    /* align-items: center; */
    margin-top: 35px;

}

.navLinks{
   display: flex;
   width: 500px;
   align-items: center;
   justify-content: space-evenly;
   
}

.navLinks a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

#signInBtn {
border: none;
outline: none;
background: #000;
color: #fff;
border-radius: 28px;
width: 100px;
height: 50px;
font-size: 18px;
font-weight: 500;
margin-top: 35px;

}