.curriculumContainer {
  padding: 20px;

}

.curriculumHeaderContainer {
  display: flex;
  justify-content: space-around;
}

.leftCurriculumHeaderSection {
  position: relative;
  right: 80px;
}

.leftCurriculumHeaderSection h1 {
  font-size: 51px;
  font-weight: bold;
  position: relative;
  left: 80px;
  letter-spacing: 1px;
}
.rightCurriculumHeaderSection{
  position: relative;
  right: 10px;
}

.rightCurriculumHeaderSection p {
  font-size: 18px;

}


.button {
  background: #000;

  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
  border: none;
  outline: none;
  border-radius: 30px;
  width: 180px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;

}

.arrowIcon {
  font-size: 30px;
  position: relative;
  left: 20px;
}


/* card css */


.curriculumCardImg {
  width: 90px !important;
  height: 90px;
  padding: 20px !important;

}




.leftCard {
  width: 27rem !important;
  background: #aee5ff !important;
  border-radius: 25px !important;
  outline: none !important;
  border: none !important;
  padding: 20px;
  position: relative;
  left: 6px;
}

.rightCard {
  width: 36rem !important;
  background: #c3ffd2 !important;
  border-radius: 25px !important;
  outline: none !important;
  border: none !important;
  position: relative;
  right: 10px !important;
  padding: 20px;




}

.curriculumCardTitle {
  font-size: 1.7rem !important;
  margin-bottom: 10px;
  width: 370px;
}

.curriculumCardText {
  font-size: 1.3rem;
}


/* additional css */

.additionalComponent {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftHeading {
  /* float: left;
  padding: 20px; */
  width: 28rem;
  position: relative;
  left: 20px;
  
}

.rightButtons {
  /* float: right; */
  /* position: relative;
    right: 80px; */
  display: flex;
  justify-content: space-evenly;
  width: 1200px;

}

.additionalButton {
  background: #f1f1f1;
  margin-right: 10px;
  color: #1c1b1b;
  border: none;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 30px;
  /* width: 190px;
height: 30px; */
  font-size: 20px;
  font-weight: 500;
  padding: 12px 25px;
}

.horizontalLine {
  /* margin-top: 90px;  */
  border: 1px solid #000000;
  width: 1020px;
  margin-left: 50px;
}

